<!DOCTYPE html>
<html lang='en-GB'>
  <head>
    <title><%= ejs_title %></title>
    <meta charset="UTF-8">
    <meta name='HandheldFriendly' content="True">
    <meta name='MobileOptimized' content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://nanode.one/">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/nanode/logo/fade.svg" alt='Nanode'/>
    <meta name="image" content="https://nanode.one/assets/nanode/logo/fade.svg">
    <link rel="apple-touch-icon" type="image/x-icon" href="/assets/nanode/logo/fade.svg"> 
    
    <link rel="stylesheet" href="https://nanode.one/CSS/Download/download.css">
  </head>
  <body>

    <section>
      <div>
        <a href="//www.nanode.one"><img src="https://nanode.one/assets/nanode/nanode.svg" style="width: 140px"></a>

        <h4><%= ejs_name %>.zip</h4>
        <h5><%= ejs_size %></h5>
        <h5><%= ejs_items %></h5>
        <h5><%= ejs_count + (ejs_count == 1 ? " Download" : " Downloads") %></h5>

        <span>
          <button id='previewBtn' style='opacity: <%= ejs_preview ? 1 : 0.6 %>; cursor: <%= ejs_preview ? "pointer" : "not-allowed" %>;'> <% ejs_preview ? "" : "No" %> Preview</button>
          <button style='opacity: <%= ejs_scanned ? 1 : 0.6 %>;'> <%= ejs_scanned ? ejs_scanned : "Not Scanned" %></button>
        </span>
      </div>

      <div style="display: none;" id='previewBox'>

      </div>
    </section>
    
    <section>
      <div style='padding: 0px; border-radius: 3px;'>
        <a download='Nanode_<%= ejs_name %>.zip' target='_blank' href='<%= ejs_url %>' class='downloadBtn' tabindex="0">Download</a>
      </div>

      <div>
        <table>
          <tbody>
            <tr><th>NAME</th><th>TYPE</th></tr>
            <% ejs_contents.forEach(function(item) { %>
              <tr> <td><%= item.Name %></td> <td><%= item.Mime %></td> </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </section>

  </body>
</html>

<script>
  const downloadItem = "<%= ejs_item %>";
  const previewCount = <%= ejs_preview_count %>;
  let previewItem = (previewCount >= 0 ? 0 : false);
  let previewOpen = false;
  const previewBox = document.getElementById('previewBox');

  document.getElementById('previewBtn').addEventListener('click', function() {
    if (previewOpen) {
      previewBox.style.display = 'none';
    } else if (previewCount && previewItem < previewCount) {
      previewBox.style.display = 'flex';
      previewBox.innerHTML = `<img src='https://link.nanode.one/download/preview/${downloadItem}?item=${previewItem}'></img>`
    } else {return};
    previewOpen = !previewOpen;
  })
</script>